// $WIDTHS
//
// Width helper classes, like grid systems. `u-1-of-5-at-mobile`

// $fraction variants.
$fractions: 1 2 4 5 6 12 !default;

// Flaction delimiter.
$fraction-delimiter: -of- !default;

// Breakpoint suffix.
$fraction-breakpoint-suffix: -at- !default;

@mixin widths($fractions, $breakpoint: null) {
  @each $divisor in $fractions {
    @for $divident from 1 through $divisor {
      .u-#{$divident}#{$fraction-delimiter}#{$divisor}#{$breakpoint} {
        width: ($divident / $divisor) * 100% !important;
        flex-basis: ($divident / $divisor) * 100% !important;
      }
    }
  }
}

// Generate width classes based on fractions defined in `$fractions`
@include widths($fractions);

@if (variable-exists(mq-breakpoints)) {
  @each $name, $value in $mq-breakpoints {
    @include mq($from: $name) {
      @include widths($fractions, #{$fraction-breakpoint-suffix}#{$name})
    }
  }
}
